.footer-navgation {
  margin-left: auto;
  flex-wrap: wrap;
}
#footer {
  background: url(../public/images/footer/footer-img.png);
  background-size: contain;
  /* height: 100vh; */
}

.footer {
  cursor: pointer;
  padding-top: 2rem;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

.footer-content img {
  margin-bottom: 1.8rem;
}

.footer-content p {
  color: #546285;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
  letter-spacing: 0.36px;
}
.footer-navgation h4 {
  color: #08090a;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 153.846% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.footer-navgation li a {
  cursor: pointer;
  color: #546285;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
}

.footer-navgation li ,h4 {
  padding-bottom: 1.4rem;
}

.social {
  margin-left: auto;
  cursor: pointer;
}

.social img {
  display: inline;
  margin-left: 1rem;
}

.copy-right p {
  color: #353448;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
}
.copy-right p span {
  color: #35b8be;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
}
