/* --------------- */
/* Reseting */
/* --------------- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Breaking it down */
/* We start with box-sizing.I just flat out reset all elements and pseudo-elements to use box-sizing:border-box. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

ul li {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  /* background: rgba(245, 251, 252, 1); */
}
/* Landing page */

header {
  background: url(./public/images/bg-img/background-bg-1.jpg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.landingPage {
  padding: 1rem 2rem;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 2.4rem 8rem;
}

.landingPage-img {
  width: 26rem;
  height: 26rem;
  margin-right: 3rem;
}
/* landing page */
/* fisrt section */
#Home-of-fresh-products {
  background: url(./public/images/bg-img/background-img-2.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.Home-of-fresh-products {
  height: 100vh;
  overflow: hidden;
  column-gap: 8rem;
  align-items: center;
  justify-content: center;
  /* padding: 2rem 2rem; */
}
.Home-of-fresh-products-img {
  width: 25rem;
}

.Home-of-fresh-products img {
  margin-right: 4rem;
}
/* first section */
/* how-it-works */
.how-it-works {
  height: 100vh;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background: #fff;
  /* opacity: 0.87; */
}
.how-it-works h1 {
  color: #35b8be;
  text-align: center;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  /* line-height: 55px; 110% */
  letter-spacing: 1.65px;
}
/* how-it-works */

/* Browse our menu*/
#Browse-our-menu {
  background: #fff;
}
.Browse-our-menu {
  align-items: center;
  flex-direction: column;
  /* background: rgba(245, 251, 252, 0.87); */
  background: url(./public/images/bg-img/bacjground-img-3.png);
  background-repeat: repeat;
  background-repeat: no-repeat;
  background-size: cover;
  gap: 0.6rem;
  padding: 6rem;
}

/* Browse our menu */
/* order-online */

#order-online {
  /* background: rgba(245, 251, 252, 0.87); */
  background-color: #fff;
}

.order-online {
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

#order-online .order-online-content p {
  width: 100%;
}

.order-online .order-online-img {
  width: 120rem;
  height: 24rem;
}

.order-online-img {
  position: relative;
  width: 450px;
  height: 450px;
}

.dots {
  position: absolute;
  right: 18rem;
  top: 0;
  width: 150px;
  height: 150px;
}

.order-online {
  height: 100vh;
}
.order-online-content h1 {
  color: #35b8be;
  font-family: Inter;
  font-size: 2.2rem;
  width: 529px;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 1.65px;
  width: 21rem;
  margin-bottom: 1rem;
}

.order-online-content p {
  width: 30rem;
  color: #546285;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
  letter-spacing: 0.36px;
  margin-bottom: 1rem;
}

.order-online button {
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 0.6rem 1.4rem;
  background: #35b8be;
}
/* order-online */

/* store */
.store {
  /* background:rgba(245, 251, 252, 0.87); */
  background: #fff;
}

.store-contaner {
  background: url(./public/images/bg-img/backgound-bg-4.png);
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100vh;
}
.store-content h1 {
  background: url(./public/images/sign/sign.png);
  background-size: 20rem;
  width: 20rem;
  color: #35b8be;
  font-family: Inter;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem; /* 100% */
  letter-spacing: 1.65px;
  margin-bottom: 1rem;
}
.store-content p {
  width: 26rem;
  color: #546285;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3rem; /* 150% */
  letter-spacing: 0.36px;
  margin-bottom: 1rem;
}

.store button {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
  background: #35b8be;
  padding: 0.8rem 1.7rem;
  border: none;
  border-radius: 6px;
}

.store-img {
  width: 22rem;
  height: 22rem;
}
/* store */

/* footer */
.footer {
  padding: 8rem;
}
.copy-right {
  padding: 1rem 5rem;
}

/* footer */

/* Tablet styles */
@media screen and (max-width: 800px) {
  #nav--bar {
    padding: 0.6rem 2rem!important;
  }

  header {
    height: 100%;
  }

  .landingPage {
    padding: 2rem 1.5rem;
  }
  .Home-of-fresh-products {
    padding-inline:2rem ;
    column-gap: normal;
  }
  #nav--links ul {
    display: none;
  }

  .how-it-works .section-three {
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem;
    justify-content: center;
  }

  .Browse-our-menu .cards {
    display: block;
  }

  .card {
    margin-bottom: 2rem;
  }
  .support-good-food .img-container {
    width: 320px;
    height: 320px;
  }


  .footer {
    flex-wrap: nowrap;
    padding: 2rem;
  }
  .order-online-img {
    width: 55rem;
    height: 24rem;
  }
  .store-contaner {
    gap:0;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }

  .support-good-food .support-good-food-content {
    height: 310px;
    width: 307px;
    margin-bottom: 0;
}
  .landingPage-img {
    height: 17rem;
    margin: 0;
  }

 
}

/* Mobile styles */
@media screen and (max-width: 1060px) {
  #Browse-our-menu .Browse-our-menu .cards {
    grid-template-columns: 1fr;
  }
  
}
