/* fresh-products */

.fresh-products {
  background: url(./public/images/sign/sign.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 0.5rem;
  background-size: 30rem;
  width: 26rem;
  height: 22rem;
  justify-content: space-around;
  flex-direction: column;
}

.fresh-products h1 {
  width: 578px;
  color: #35b8be;
  font-family: Inter;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem; /* 107.843% */
  letter-spacing: 1.65px;
}

.fresh-products p {
  color: #546285;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
  letter-spacing: 0.36px;
}

.fresh-products button {
  padding: 1rem 1rem;
  width: 194px;
  height: 60px;
  flex-shrink: 0;
  border: none;
  border-radius: 12px;
  background: #35b8be;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 117.647% */
}
