.section-three {
    gap: 2rem;
}

.section-three-item {
    justify-content: flex-start ;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    gap: 0.8rem;
  
}

.section-three-item img {
  width: 12rem;
  height: 10rem;
}

.section-three-item h3 {
    color: #08090A;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 110% */
    letter-spacing: 0.66px;
}
.section-three-item p {
  color: #546285;
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem; /* 150% */
  letter-spacing: 0.36px;
}

