:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-mini: 0.94rem;
  --font-size-smi: 0.81rem;
  --font-size-base: 1rem;
  --font-size-31xl: 3.13rem;
  --font-size-32xl: 3.19rem;
  --font-size-mid: 1.06rem;
  --font-size-lg: 1.13rem;
  --font-size-sm: 0.88rem;
  --font-size-xl: 1.25rem;

  /* Colors */
  --color-white: #fff;
  --color-slategray-100: #546285;
  --color-slategray-200: rgba(97, 114, 131, 0.2);
  --color-lightseagreen-100: #35b8be;
  --color-lightseagreen-200: rgba(53, 184, 190, 0.15);
  --color-darkslategray: #353448;
  --color-gray-100: #fafafa;
  --color-gray-200: #222;
  --color-gray-300: #08090a;
  --color-black: #000;
  --color-gainsboro: #ddd;
  --color-lightgray: #d1cdcd;
  --color-darkslateblue: #28224b;

  /* border radiuses */
  --br-9xs: 4px;
  --br-7xs: 6px;
  --br-5xs: 8px;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
ol,
li,
a {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  /* background: #fff; */
  font-family: "Inter", sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

li a {
  text-decoration: none;
}
