html , body {
  margin: 0;
  padding: 0;
}

*::after,*::after,* {
  box-sizing: border-box;
}

h1,h2,p ,section,header,nav span {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Notifaction Start */

.notification {
  text-align: center;
  background-color: #35B8BE;
  padding: 1em;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
.notification-span {
  margin-left: 1.5em;
  color: #ffff;
}
/* Notifaction End */

/* Navbar start */
#nav-bar{
  display: flex;
  padding: 1em 5em ;
}

#nav-container .nav-link {
  display: inline;
}

#nav-container {
  margin-left: auto;
}

#cart-conatiner {
  margin-left: 2em;
  height: 50px;
  width: 50px;
  background-color: #35B8BE;
  border-radius: 5px;
  position: relative;
}

#cart-logo {
  padding: 1em 0.7em;
} 

#cart-value {
  position: absolute;
  height: 16px;
  left: 40px;
  right: 10px;
  top: 0px;
  background-color:red;
  /* box-shadow: 7px 7px 25px rgba(126, 130, 143, 0.27); */
  border-radius: 100px;
  color: black;
}

.nav-link {
  margin-left: 1em;
  list-style: none;
}

.nav-link a{
  text-decoration: none;

}
/* Navbar End */

/* <!-- Hero Section  Start --> */
#hero-section {
  background: url(./public/hero-back-img.svg);
  background-repeat: no-repeat;
}

#hero-content,#hero-img  {
  width: 50%;
}

#hero-container {
  padding: 0.5em 5em;
  display: flex;
  flex-direction: row;
  
}


#hero-content {
  display: flex;
  flex-direction: column;
  padding: 2em 1em;
  justify-content: space-evenly;
}

#hero-img {
  padding: 3em;
}

#hero-img  img {
  width: 500px;
  height: 500px;

}
#hero-content h1{
  width: 100%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  /* or 100% */
  letter-spacing: 1.8px;
  color: #08090A;
}

#hero-content  span {
  color: #35B8BE;
}


.detail {
  height: 73px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;  
  line-height: 24px;
  /* or 134% */
  letter-spacing: 0.36px;
  color: #546285;
}

#PlaceanOrder-btn{
  background-color: #35B8BE;
  width: 193px;
  height: 60px;
  border-radius: 10px;
  text-align: center;
  padding-top: 1.3em;
}

#PlaceanOrder-btn button {
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.8);
}
/* <!-- Hero Section  End --> */

/* About Section Start */
#about-section {
  background: url(./public/hero--content.png);
  background-repeat: no-repeat;
}

.about-content h2{  
  height: 55px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 55px;
  /* identical to box height, or 110% */
  letter-spacing: 1.65px;
  color: #35B8BE;
}

.about-content p {
  height: 81px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* or 150% */
  letter-spacing: 0.36px;
  color: #546285;

}

.abot-btn-container {
  height: 55px;
  background-color: #35B8BE;
  width: 140px;
  border-radius: 7px;

}
.abot-btn-container button {
  background: transparent;
  border: none;
  text-align: center;
}

.about-img {

}
/* About Section End */